@import "./../common/vars.scss";
@import "./../mixins/mixins.scss";

@include b(main){
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}
