@import "./../common/vars.scss";
@import "./../mixins/mixins.scss";
@import "./../theme/src/common/vars.scss";

@include b(row){
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.c-row--flex{
    display: flex;
}