@import "./../common/vars.scss";
@import "./../mixins/mixins.scss";
@import "./../theme/src/common/vars.scss";

@include b(input-number){
   width: 180px;


   @include b(button){
      @include when(disabled){
         & > [class*="c-icon-"]{
            color: #c0c4cc;
            cursor: not-allowed;
            &:hover{
               color: #c0c4cc;
            }
         }
         
      }
   }

   @include b(button){
      padding: 0 12px;
      & > [class*="c-icon-"]{
         color: #606266;
         &:hover{
            color: $primary-color;
         }
      }
      
   }
   @include b(input-group){
      @include e([prepend,append]){
         padding:0;
      }
   }
   @include b(input){
      
     @include e(inner){
        text-align: center;
     }
   }
}
