$primary-color:#409EFF;
$primary-color-light:#66b1ff;
$primary-color-dark:#3a8ee6;

// 按钮的常规边框颜色
$border-color-gray:#dcdfe6;

$color-success:#67c23a;
$color-success-light:#85ce61;
$color-success-dark:#67c23a;


$color-info:#909399;
$color-info-light:#a6a9ad;
$color-info-dark:#82848a;

$color-warning:#e6a23c;
$color-warning-light:#ebb563;
$color-warning-dark:#cf9236;

$color-danger:#f56c6c;
$color-danger-light:#f78989;
$color-danger-dark:#dd6161;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);