@import "./../common/vars.scss";
@import "./../mixins/mixins.scss";
@import "./../theme/src/common/vars.scss";

@include b(radio){
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    margin-right: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    &.is-bordered{
        padding: 12px 20px 0 10px;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        height: 40px;
    }
    &.c-radio--medium.is-bordered{
        padding: 10px 20px 0 10px;
        border-radius: 4px;
        height: 36px;
        .c-radio__label{
            font-size: 14px;
        }
    }
    &.c-radio--small.is-bordered{
        padding: 8px 15px 0 10px;
        border-radius: 3px;
        height: 32px; 
        .c-radio__label{
            font-size: 12px;
        }
    }
    &.c-radio--mini.is-bordered{
        padding: 6px 15px 0 10px;
        border-radius: 3px;
        height: 28px;
        .c-radio__label{
            font-size: 12px;
        }
    }

    &.c-radio--medium {
        .c-radio__inner{
            width:14px;
            height:14px;
        }
        .c-radio__label{
            font-size: 14px;
        }

    }
    &.c-radio--small {
        .c-radio__inner{
            width:12px;
            height:12px;
        }

        .c-radio__label{
            font-size: 12px;
        }
    }
    &.c-radio--mini {
        .c-radio__inner{
            width:12px;
            height:12px;
        }
        .c-radio__label{
            font-size: 12px;
        }
    }
}
.c-radio__input{
    font-size: 0;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    &.is-checked .c-radio__inner {
        border-color: $primary-color;
        background: $primary-color;
        &::after{
            transform: translate(-50%, -50%) scale(1);
        }
    }
    &.is-checked + .c-radio__label {
        color: $primary-color;
    }
    &.is-disabled  .c-radio__inner{
        background-color: #f5f7fa;
        border-color: #e4e7ed;
        cursor: not-allowed;
    }
    &.is-disabled + .c-radio__label {
        color: #c0c4cc;
        cursor: not-allowed; 
    }
    &.is-disabled{
        .c-radio__inner{
            &:after{
                background-color: #c0c4cc;
            }
            &:hover{
                border-color: #e4e7ed;
            }
        }
    }
    .c-radio__inner{
        border: 1px solid #dcdfe6;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        &:hover {
            border-color: $primary-color; 
        }
        &::after{
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #fff;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform .15s ease-in; 
        }
    }
    .c-radio__original{
            opacity: 0;
            outline: none;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
    }
}
.c-radio__label{
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
}
